:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Helvetica", "Arial", "Roboto";
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
  background-image: url(../img/cube_blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #32408f;
}
h2 {
  color: #32408f;
}
header p {
  font-family: "Allura";
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

#main {
  display: flex;
  min-height: calc(100vh - 30vh);
  padding-top: 20px;
  margin: auto;
}
.profilbild {
  border-radius: 50%;
  width: 12em;
  box-shadow: 0 30px 35px -10px #6a2a10;
}
#profilbild {
  border-radius: 4%;
}
@media (min-width: 1000px) {
  nav {
    padding: 0.5em;
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-image: linear-gradient(
      180deg,
      #101a3459 40%,
      rgba(238, 238, 238, 0) 100%
    );
  }
  .hamb {
    display: none;
  }
  .side-menu {
    display: none;
  }

  nav a {
    color: #f9a201;
  }
  .sticky {
    background-color: #f9a201;
    position: fixed;
    overflow: hidden;
    top: 0;
    transition: background-color 0.4s;
    box-shadow: 0 20px 25px -10px #6a2a10;
    height: 5vh;
    background-image: none;
  }

  nav a:hover {
    color: white;
  }

  .sticky a {
    color: white;
    transition: background-color 0.3s;
  }

  .sticky a:hover {
    color: #32408f;
  }
  nav a {
    padding: 20px;

    text-decoration: none;
  }
}
@media (max-width: 1000px) {
  a {
    text-decoration: none;
  }
  nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    z-index: 1;
    padding: 0;
  }
  .menu {
    padding-top: 3em;
  }
  .menu a {
    display: block;
    padding: 10px;
    color: #f9a201;
    padding: 2em;
    text-align: center;
  }
  .menu a:hover {
    background-color: var(--gray);
  }
  nav {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    padding: 0;
  }

  .hamb {
    cursor: pointer;
    right: 0px;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    margin-bottom: 2em;
    background-color: #f9a201;
  } /* Style label tag */
  .hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  } /* Style span tag */

  .hamb-line::before,
  .hamb-line::after {
    background: var(--white);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamb-line::before {
    top: 5px;
  }
  .hamb-line::after {
    top: -5px;
  }

  .side-menu {
    display: none;
  } /* Hide checkbox */

  .side-menu:checked ~ nav {
    max-height: 100%;
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

#main > content {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  color: #ffffff;
  padding: 150px 0;
  background-image: url(../img/cube.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  overflow: hidden;
  flex-direction: column;
}
header h1 {
  font-size: 5em;
}

#main > aside {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

header,
article {
  padding: 0.5em;
}

footer {
  height: 7vh;
  width: 100%;
  justify-content: right;
  display: flex;
  align-items: center;
  color: white;
  z-index: 10;
  background: none;
  padding-right: 10px;
  background-image: linear-gradient(180deg, #04091e00 40%, #f9a2011c 100%);
}

.article-item {
  width: 100%;
  margin-bottom: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

aside .article-item {
  width: 100%;
  margin-bottom: 50px;
  -webkit-transform: translateX(2%);
  transform: translateX(2%);
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.article-item.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.article-item:nth-child(even) .article-content {
  padding: 40px 30px 10px 30px;
}

.article-content {
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 1px 1px 6px 0px #f9a401;
}

.article-img {
  margin-top: 25px;
  margin-left: -15px;
}

.content a,
aside a {
  background: #3f51b5;
  color: #ffffff;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.content a:hover,
.content a:active,
.content a:focus {
  background: #32408f;
  color: #ffffff;
  text-decoration: none;
}

.article-card {
  padding: 0 !important;
}
.article-card p {
  padding: 0 20px;
}
.article-card a {
  margin-left: 20px;
}

.article-item .article-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-size: cover;
}

.article-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.article-img-header h2 {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.date {
  display: inline-block;
  color: #3f51b5;
}

.zeitleiste {
  border-left: 3px solid #32408f;
  padding: 2em 0;
  position: relative;
  margin-left: 2em;
  margin: 2em 0;
}

.zeitleiste::before {
  content: "Heute";
  position: absolute;
  top: -1.3em;
  left: -1.3em;
  font-weight: bold;
}

.zeitleiste::after {
  content: "2013";
  position: absolute;
  bottom: -1.2em;
  left: -1.2em;
}
.zeitleiste2 {
  border-left: 3px solid #32408f;
  padding: 2em 0;
  position: relative;
  margin-left: 2em;
  margin: 2em 0;
}

.zeitleiste2::before {
  content: "Heute";
  position: absolute;
  top: -1.3em;
  left: -1.3em;
  font-weight: bold;
}
.zeitleiste2::after {
  content: "2010";
  position: absolute;
  bottom: -1.2em;
  left: -1.2em;
}

.z-title {
  color: #f9a201;
  font-weight: bold;
  border-bottom: 2px solid #f9a201;
  margin-bottom: 0.2em;
  margin-right: 4em;
}

.z-element {
  position: relative;
  left: 1.2em;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}

.z-element::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #32408f;
  position: absolute;
  top: 50%;
  border: 4px solid #f5f5f5;
  left: -1.83em;
  border-radius: 50em;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Merriweather", sans-serif;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  resize: none;
}
input:focus {
  box-shadow: 0 1px 2px #f9a401 !important;
}
textarea:focus {
  box-shadow: 0 1px 2px #f9a401 !important;
}

#input-submit {
  color: white;
  background: #32408f;
  cursor: pointer;
}
#input-submit:hover {
  box-shadow: 0 1px 2px #8b5a00 !important;
}

textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/* Profil */

#profile {
  color: var(--color-main);
  align-items: center;
}

#profile img {
  max-width: 20vh;
}

.list {
  display: flex;
  flex-direction: column;
}

.icon-container {
  padding: 0 1em;
}

.icon-container li {
  gap: 1em;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  place-items: center;
}

.icon-container li img {
  width: 32px;
}

.languages li {
  margin-bottom: 5px;
}

.progress-bar {
  align-self: flex-end;
  position: relative;
  height: 0.7em;
  width: 3em;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-burn;
  background-color: #f9a401;
}

.progress-bar-fill {
  position: relative;
  height: 100%;
  width: 0;
  background-color: #5756547d;
}

.hobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.hobbies li {
  max-width: 20%;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row1 {
  flex: 30%;
}
.row2 {
  flex: 70%;
}
.rowbetween {
  margin-top: 1rem !important;
}

@media (min-width: 1000px) {
  #profile {
    display: grid;
    gap: 0.5em 0.5em;

    grid-template:
      "header header header header"
      "image info info info "
      "text text  text text ";
  }
  #profile h2 {
    grid-area: header;
  }
  .info {
    grid-area: info;
  }
  #profile p {
    grid-area: text;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row1 {
    flex: 30%;
  }
  .row2 {
    flex: 70%;
  }
  .rowbetween {
    margin-top: 1rem !important;
  }

  #profile img {
    grid-area: image;
    place-self: start;
  }
}

@media (min-width: 1000px) {
  #skills {
    display: grid;
    gap: 0.5em 0.5em;

    grid-template:
      "header header header  "
      "skills skills languages  ";
  }

  #skills h2 {
    grid-area: header;
  }

  #skills .skills {
    grid-area: skills;
  }

  #skills .languages {
    grid-area: languages;
    align-self: start;
  }

  #skills .hobbies {
    max-width: 20vw;
    place-self: start;
    justify-self: center;
    grid-area: hobbies;
    flex-direction: column;
    gap: 0;
  }

  #skills .hobbies ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }

  #skills .hobbies img {
    visibility: none;
  }

  #skills .hobbies li {
    max-width: 100%;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-direction: row;
  }

  .list {
    min-width: 0;
  }
}

footer li {
  display: inline;
  list-style-type: none;
}

footer ul {
  margin: 0;
  text-align: left;
}

content {
  margin: 0 25%;
}

@media (min-width: 1000px) {
  .Zeit {
    display: grid;
    gap: 0.5em 0.5em;

    grid-template:
      "zeit zeit2"
      "Beruf  Schule "
      "Beruf .";
  }
}

.Beruf {
  grid-area: Beruf;
}

.Schule {
  grid-area: Schule;
}

.zeit {
  grid-area: zeit;
}
.zeit2 {
  grid-area: zeit2;
}
